---
title: DrewHarper.com UI/UX Designer, Front End Dev
---

<header id="header">
    <%= partial "_includes/nav" %>
</header>

<main>
    <div class="sectionOne">
        <div class='drewhead' id='drewhead'></div>
        <h1>Don’t let design get in the way of communication</h1>
        <p>Whether it’s a prototype, a responsive website, a wireframe, an interactive PDF, a new mobile app UI, a quick skin job, a few more buttons, a dialog box, filling up a bucket, or getting in the trenches with  HTML 5 and CSS 3, I can deliver. I don’t let ‘design’ get in the way. Oh and I’m a coder groupie :)</p>
        <div class='skills'>
            <%= partial "_includes/skills" %>
        </div>
    </div>

    <div class="sectionTwo">
        <div class='flexslider'>
            <%= partial "_includes/slides" %>
        </div>
        <div class='about'>
            <div class='british_american_flag'>
                <img src='img/british_american_flag.png'>
            </div>
            <div class='copy'>
                <p>I’m half-English/half-American, worked in Advertising most my life, switched to web in late ’90s. Travelled the world, enjoy reading history, love NFL, Rugby, Footy.</p>
            </div>
        </div>

        <div class='quote'>
            <%= partial "_includes/quotes" %>
        </div>

    </div>
</main>

<footer>
    <%= partial "_includes/nav" %>
</footer>
